GEMINI_API_KEY=<GEMINI_API_KEY>
GEMINI_MODEL=gemini-2.5-pro
#CLAUDE_API_KEY=tu_api_key_de_claude_aqui  # Opcional
#OPENAI_API_KEY=tu_api_key_de_openai_aqui  # Opcional
GITHUB_TOKEN=<GITHUB_TOKEN>

# Configuración opcional
PORT=3000
NODE_ENV=development